{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container well">
	    <div class="col-md-9">
	    <h2>{{ task.title }}</h2>
	        <br>
	        <dl>
	            <dt>{{ 'Description'|trans }}</dt>
	            <dd>
	                {{ task.description }}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>{{ 'User'|trans }}</dt>
	            <dd>
	                {{ task.user.firstName }} {{ task.user.lastName }}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>{{ 'Status'|trans }}</dt>
	            <dd>
                	{% if task.status == 0 %}
                	    <span class="text-danger">{{ 'Waiting'|trans }}</span>
                	{% elseif task.status == 1 %}
                	    <span class="text-success">{{ 'Finished'|trans }}</span>
                	{% endif %}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>{{ 'Created'|trans }}</dt>
	            <dd>
	                {{ task.createdAt|date('d-m-Y H:i') }}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>{{ 'Updated'|trans }}</dt>
	            <dd>
	                {{ task.updatedAt|date('d-m-Y H:i') }}
	                &nbsp;
	            </dd>
	            <br>
	        </dl>
	    </div>
		{% if is_granted('ROLE_ADMIN') %}
	    <div class="col-md-3">
	        <h3>{{ 'Actions'|trans }}:</h3>
	        <p>
	            <a href="{{ path('new_task_edit', {id: task.id}) }}" class="btn btn-primary btn-lg btn-block">
	                <span class="fa fa-pencil-square-o"></span>
	                {{ 'Edit task'|trans }}
	            </a>
	        </p>
	        <p>
                <button href="{{ path('new_task_delete', {id: task.id}) }}" class="btn btn-danger btn-lg btn-block" id="deleteBtn">
	                <span class="fa fa-trash-o"></span>
	                {{ 'Delete task'|trans }}
	            </button>
	        </p>
	    </div>
		{% endif %}
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#deleteBtn').click(function(){
            Swal.fire({
                icon: 'warning',
                title: "{% trans %} Are you sure? {% endtrans %}",
                text: "{% trans %} You won't be able to revert this! {% endtrans %}",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: "{% trans %} Yes, delete it! {% endtrans %}",
                cancelButtonText: "{% trans %} Cancel {% endtrans %}"
            }).then((result) => {
                if (result.isConfirmed) {
                    DeleteAjax({{ task.id }});
                }
            });
        });

        function DeleteAjax(id){
            $.ajax({
                url: "{{ path('new_task_delete') }}", 
                data: {
                    'id': id
                },
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if(data.status == true) {
                        Swal.fire({
                            icon: 'success',
                            title: "{% trans %} Task deleted {% endtrans %}",
                            text: data.message
                        }).then(() => {
                            window.location.href = "{{ path('new_task_index') }}";
                        })

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: data.message
                        })
                    } 
                },
                error: function (data) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.message
                    })
                },
            });
        }
    </script>
{% endblock %}